@model IEnumerable<LibraryManagement.Models.User>
@{
    ViewData["Title"] = "Index";
}
@if (ViewBag.isSuperUser == "true")
{

    <h1>Użytkownicy</h1>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Login)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsSuperUser)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.Login)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsSuperUser)
                    </td>
                </tr>
            }
        </tbody>
    </table>
} else{
    <p>Nie masz dostępu do tej strony.</p>
}

<div class="margin-top">
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Powrót do strony głównej</a>
</div>