@if (ViewBag.login is null){
	<h3>Register</h3>

	<form method="post" asp-controller="user" asp-action="Register">
		Login <input type="text" name="login" />
		<br />
		Password <input type="password" name="password" />
		<br />
		Password <input type="password" name="password_repeat" />
		<br />
		<input type="submit" value="Register" />
	</form>
} else{
	<p>Nie masz dostępu do tej strony.</p>
}