@{
    ViewData["Title"] = "Home Page";
}
@if (@ViewBag.login is null){
    <div class="text-center">
        <h1 class="display-4">Sorry you aren't logged in.</h1>
        <p>Click <a href="#">here</a> to log in.</p>
        <p>Click <a href="#">here</a> to create new account.</p>
    </div>
}
else{
    @if (@ViewBag.isSuperUser == "true")
    {
        <div>
            <p>
                <a asp-controller="book" asp-action="Create">Dodaj książkę</a>
            </p>
            <p>
                <a asp-controller="book" asp-action="EditDeleteList">Edytuj/usuń książkę</a>
            </p>
            <p>
                <a asp-controller="book" asp-action="BooksToLease">Wypożycz książkę</a>
            </p>
            <p>
                <a asp-controller="book" asp-action="BooksToReturn">Zwróć książkę</a>
            </p>
            <p>
                <a asp-controller="book" asp-action="SearchBook">Znajdź książkę</a>
            </p>
            <p>
                <a asp-controller="user" asp-action="Index">Użytkownicy</a>
            </p>
        </div>
    }
    else{
        <div>
            <p>
                <a asp-controller="book" asp-action="BooksToReserve">Zarezerwuj książkę</a>
            </p>
            <p>
                <a asp-controller="book" asp-action="SearchBook">Znajdź książkę</a>
            </p>
        </div>
    }

}