@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Sorry you aren't logged in.</h1>
    <p>Click <a href="#">here</a> to log in.</p>
    <p>Click <a href="#">here</a> to create new account.</p>
</div>
